* {
    padding: 0;
    margin: 0;
}

@font-face {
    src: url("static/fonts/Oswald-Regular.ttf");
    font-family: 'Oswald';
}

@font-face {
    src: url("static/fonts/Roboto-Medium.ttf");
    font-family: 'Roboto';
}

.nav-link {
    font-family: 'Oswald';
    font-size: 14pt; 
}