.register-header {
    font-family: 'PM', monospace;
    margin: 20px 0;
}

.login {
    margin: 35px 0; 
}

div.container {
    margin-bottom: 50px;
}

footer {
    position: absolute;
    bottom: 0;
    margin-left: 20%;
}