{% extends 'base.html' %}

{% block content %}
<div class="text-center create-header">
    <h1>Edit a new plan</h1>
    <p class="small">Remove, add and update parts.</p>
</div>


<form method="POST" action="{{ url_for('update_record') }}">
    <!--Make/Model/Trim/Year-->
    <div class="card">
            <div class="card-header" id="headingTwo">
                <h6 class="collapsed mb-0" data-toggle="collapse" data-target="#vehicle" aria-expanded="false"
                    aria-controls="vehicle">
                    Car
                </h6>
            </div>
            <div id="vehicle" class="collapse" aria-labelledby="headingTwo" data-parent="#vehicle">
                <div class="card-body">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th scope="col">
                                    Make
                                </th>
                                <th scope="col">
                                    Model
                                </th>
                                <th scope="col">
                                    Trim
                                </th>
                                <th scope="col">
                                    Year
                                </th>
                                <th scope="col">
                                    Price
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--Splitter-->
                            <tr>
                                <th scope="row">
                                    <input type="text" class="form-control input-sm" name="make" value="{{  }}">
                                </th>
                                <td>
                                    <input type="text" class="form-control input-sm" name="model" value="{{  }}">
                                </td>
                                <td>
                                    <input type="text" class="form-control input-sm" name="trim" value="{{  }}">
                                </td>
                                <td>
                                    <input type="number" class="form-control input-sm" name="year" value="{{  }}">
                                </td>
                                <td>
                                    <input type="text" class="form-control input-sm" name="price" value="{{  }}">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    </div>

    <!--Bodykit-->
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h6 class="collapsed mb-0" data-toggle="collapse" data-target="#bodykit" aria-expanded="false"
                aria-controls="bodykit">
                Bodykit
            </h6>
        </div>
        <div id="bodykit" class="collapse" aria-labelledby="headingTwo" data-parent="#bodykit">
            <div class="card-body">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th scope="col">
                                Part
                            </th>
                            <th scope="col">
                                Product Name
                            </th>
                            <th scope="col">
                                Web Link
                            </th>
                            <th scope="col">
                                Price
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--Splitter-->
                        <tr>
                            <th scope="row">
                                Splitter
                            </th>
                            <th>
                                <input type="text" class="form-control input-sm" name="splitter-product" value="{{  }}">
                            </th>
                            <td>
                                <input type="text" class="form-control input-sm" name="splitter-link" value="{{  }}">
                            </td>
                            <td>
                                <input type="number" class="form-control input-sm" name="splitter-price" step="any" id="part-price" value="{{  }}">
                            </td>
                        </tr>
                        <!--Sideskirts-->
                        <tr>
                            <th scope="row">
                                Sideskirts
                            </th>
                            <th>
                                <input type="text" class="form-control input-sm" name="sideskirts-product" value="{{  }}">
                            </th>
                            <td>
                                <input type="text" class="form-control input-sm" name="sideskirts-link" value="{{  }}">
                            </td>
                            <td>
                                <input type="number" class="form-control input-sm" name="sideskirts-price" step="any" id="part-price" value="{{  }}">
                            </td>
                        </tr>
                        <!--Diffuser-->
                        <tr>
                            <th scope="row">
                                Diffuser
                            </th>
                            <th>
                                <input type="text" class="form-control input-sm" name="diffuser-product" value="{{  }}">
                            </th>
                            <td>
                                <input type="text" class="form-control input-sm" name="diffuser-link" value="{{  }}">
                            </td>
                            <td>
                                <input type="number" class="form-control input-sm" name="diffuser-price" step="any" id="part-price" value="{{  }}">
                            </td>
                        </tr>
                        <!--Front Canards-->
                        <tr>
                            <th scope="row">
                                Front Canards
                            </th>
                            <th>
                                <input type="text" class="form-control input-sm" name="front-canards-product" value="{{  }}">
                            </th>
                            <td>
                                <input type="text" class="form-control input-sm" name="front-canards-link" value="{{  }}">
                            </td>
                            <td>
                                <input type="number" class="form-control input-sm" name="front-canards-price" step="any" id="part-price" value="{{  }}">
                            </td>
                        </tr>
                        <!--Rear Canards-->
                        <tr>
                            <th scope="row">
                                Rear Canards
                            </th>
                            <th>
                                <input type="text" class="form-control input-sm" name="rear-canards-product" value="{{  }}">
                            </th>
                            <td>
                                <input type="text" class="form-control input-sm" name="rear-canards-link" value="{{  }}">
                            </td>
                            <td>
                                <input type="number" class="form-control input-sm" name="rear-canards-price" step="any" id="part-price" value="{{  }}">
                            </td>
                        </tr>
                        <!--Spoiler-->
                        <tr>
                            <th scope="row">
                                Spoiler
                            </th>
                            <th>
                                <input type="text" class="form-control input-sm" name="spoiler-product" value="{{  }}">
                            </th>
                            <td>
                                <input type="text" class="form-control input-sm" name="spoiler-link" value="{{  }}">
                            </td>
                            <td>
                                <input type="number" class="form-control input-sm" name="spoiler-price" step="any" id="part-price" value="{{  }}">
                            </td>
                        </tr>
                        <!--Spoiler-->
                        <tr>
                            <th scope="row">
                                Wheel Arches
                            </th>
                            <th>
                                <input type="text" class="form-control input-sm" name="wheel-arches-product" value="{{  }}">
                            </th>
                            <td>
                                <input type="text" class="form-control input-sm" name="wheel-arches-link" value="{{  }}">
                            </td>
                            <td>
                                <input type="number" class="form-control input-sm" name="wheel-arches-price" step="any" id="part-price" value="{{  }}">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" class="text-center"><strong>OR</strong></td>
                        </tr>
                        <!--Full Bodykit-->
                        <tr>
                            <th scope="row">
                                Full Bodykit
                            </th>
                            <th>
                                <input type="text" class="form-control input-sm" name="full-bodykit-product" value="{{  }}">
                            </th>
                            <td>
                                <input type="text" class="form-control input-sm" name="full-bodykit-link" value="{{  }}">
                            </td>
                            <td>
                                <input type="number" class="form-control input-sm" name="full-bodykit-price"step="any" id="part-price"  value="{{  }}">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!--Engine-->
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h6 class="collapsed mb-0" data-toggle="collapse" data-target="#engine" aria-expanded="false"
                aria-controls="engine">
                Engine
            </h6>
        </div>
        <div id="engine" class="collapse" aria-labelledby="headingTwo" data-parent="#engine">
            <div class="card-body">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th scope="col">
                                Part
                            </th>
                            <th scope="col">
                                Product Name
                            </th>
                            <th scope="col">
                                Web Link
                            </th>
                            <th scope="col">
                                Price
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--Air intake-->
                        <tr>
                            <th scope="row">
                                Air intake
                            </th>
                            <th>
                                <input type="text" class="form-control input-sm" name="air-intake-product" value="{{  }}">
                            </th>
                            <td>
                                <input type="text" class="form-control input-sm" name="air-intake-link" value="{{  }}">
                            </td>
                            <td>
                                <input type="number" class="form-control input-sm" name="air-intake-price" step="any" id="part-price" value="{{  }}">
                            </td>
                        </tr>
                        <!--Intercooler-->
                        <tr>
                            <th scope="row">
                                Intercooler
                            </th>
                            <th>
                                <input type="text" class="form-control input-sm" name="intercooler-product" value="{{  }}">
                            </th>
                            <td>
                                <input type="text" class="form-control input-sm" name="intercooler-link" value="{{  }}">
                            </td>
                            <td>
                                <input type="number" class="form-control input-sm" name="intercooler-price" step="any" id="part-price" value="{{  }}">
                            </td>
                        </tr>
                        <!--Radiator-->
                        <tr>
                            <th scope="row">
                                Radiator
                            </th>
                            <th>
                                <input type="text" class="form-control input-sm" name="radiator-product" value="{{  }}">
                            </th>
                            <td>
                                <input type="text" class="form-control input-sm" name="radiator-link" value="{{  }}">
                            </td>
                            <td>
                                <input type="number" class="form-control input-sm" name="radiator-price" step="any" id="part-price" value="{{  }}">
                            </td>
                        </tr>
                        <!--Remap-->
                        <tr>
                            <th scope="row">
                                Remap
                            </th>
                            <th>
                                <input type="text" class="form-control input-sm" name="remap-product" value="{{  }}">
                            </th>
                            <td>
                                <input type="text" class="form-control input-sm" name="remap-link" value="{{  }}">
                            </td>
                            <td>
                                <input type="number" class="form-control input-sm" name="remap-price" step="any" id="part-price" value="{{  }}">
                            </td>
                        </tr>
                        <!--Injectors-->
                        <tr>
                            <th scope="row">
                                Injectors
                            </th>
                            <th>
                                <input type="text" class="form-control input-sm" name="injectors-product" value="{{  }}">
                            </th>
                            <td>
                                <input type="text" class="form-control input-sm" name="injectors-link" value="{{  }}">
                            </td>
                            <td>
                                <input type="number" class="form-control input-sm" name="injectors-price" step="any" id="part-price" value="{{  }}">
                            </td>
                        </tr>
                        <!--Turbo-charger / Super-charger-->
                        <tr>
                            <th scope="row">
                                Turbo-charger / <br> Super-charger
                            </th>
                            <th>
                                <input type="text" class="form-control input-sm" name="charger-product" value="{{  }}">
                            </th>
                            <td>
                                <input type="text" class="form-control input-sm" name="charger-link" value="{{  }}">
                            </td>
                            <td>
                                <input type="number" class="form-control input-sm" name="charger-price" step="any" id="part-price" value="{{  }}">
                            </td>
                        </tr>
                        <!--Engine Hoses-->
                        <tr>
                            <th scope="row">
                                Engine Hoses
                            </th>
                            <th>
                                <input type="text" class="form-control input-sm" name="engine-hoses-product" value="{{  }}">
                            </th>
                            <td>
                                <input type="text" class="form-control input-sm" name="engine-hoses-link" value="{{  }}">
                            </td>
                            <td>
                                <input type="number" class="form-control input-sm" name="engine-hoses-price" step="any" id="part-price" value="{{  }}">
                            </td>
                        </tr>
                        <!--Exhaust-->
                        <tr>
                            <th scope="row">
                                Exhaust
                            </th>
                            <th>
                                <input type="text" class="form-control input-sm" name="exhaust-product" value="{{  }}">
                            </th>
                            <td>
                                <input type="text" class="form-control input-sm" name="exhaust-link" value="{{  }}">
                            </td>
                            <td>
                                <input type="number" class="form-control input-sm" name="exhaust-price" step="any" id="part-price" value="{{  }}">
                            </td>
                        </tr>
                        <!--Fuel Pump-->
                        <tr>
                            <th scope="row">
                                Fuel Pump
                            </th>
                            <th>
                                <input type="text" class="form-control input-sm" name="fuel-pump-product" value="{{  }}">
                            </th>
                            <td>
                                <input type="text" class="form-control input-sm" name="fuel-pump-link" value="{{  }}">
                            </td>
                            <td>
                                <input type="number" class="form-control input-sm" name="fuel-pump-price" step="any" id="part-price" value="{{  }}">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!--Running Gear-->
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h6 class="collapsed mb-0" data-toggle="collapse" data-target="#running-gear" aria-expanded="false"
                aria-controls="running-gear">
                Running Gear
            </h6>
        </div>
        <div id="running-gear" class="collapse" aria-labelledby="headingTwo" data-parent="#running-gear">
            <div class="card-body">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th scope="col">
                                Part
                            </th>
                            <th scope="col">
                                Product Name
                            </th>
                            <th scope="col">
                                Web Link
                            </th>
                            <th scope="col">
                                Price
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--Suspension-->
                        <tr>
                            <th scope="row">
                                Suspension
                            </th>
                            <th>
                                <input type="text" class="form-control input-sm" name="suspension-product" value="{{  }}">
                            </th>
                            <td>
                                <input type="text" class="form-control input-sm" name="suspension-link" value="{{  }}">
                            </td>
                            <td>
                                <input type="number" class="form-control input-sm" name="suspension-price" step="any" id="part-price" value="{{  }}">
                            </td>
                        </tr>
                        <!--Wheels-->
                        <tr>
                            <th scope="row">
                                Wheels
                            </th>
                            <th>
                                <input type="text" class="form-control input-sm" name="wheels-product" value="{{  }}">
                            </th>
                            <td>
                                <input type="text" class="form-control input-sm" name="wheels-link" value="{{  }}">
                            </td>
                            <td>
                                <input type="number" class="form-control input-sm" name="wheels-price" step="any" id="part-price" value="{{  }}">
                            </td>
                        </tr>
                        <!--Tyres-->
                        <tr>
                            <th scope="row">
                                Tyres
                            </th>
                            <th>
                                <input type="text" class="form-control input-sm" name="tyres-product" value="{{  }}">
                            </th>
                            <td>
                                <input type="text" class="form-control input-sm" name="tyres-link" value="{{  }}">
                            </td>
                            <td>
                                <input type="number" class="form-control input-sm" name="tyres-price"
                                    placeholder="Price per tyre" step="any" id="part-price" value="{{  }}">
                            </td>
                        </tr>
                        <!--Brakes-->
                        <tr>
                            <th scope="row">
                                Brakes
                            </th>
                            <th>
                                <input type="text" class="form-control input-sm" name="brakes-product" value="{{  }}">
                            </th>
                            <td>
                                <input type="text" class="form-control input-sm" name="brakes-link" value="{{  }}">
                            </td>
                            <td>
                                <input type="number" class="form-control input-sm" name="brakes-price" step="any" id="part-price" value="{{  }}">
                            </td>
                        </tr>
                        <!--Driveshafts-->
                        <tr>
                            <th scope="row">
                                Driveshafts
                            </th>
                            <th>
                                <input type="text" class="form-control input-sm" name="driveshafts-product" value="{{  }}">
                            </th>
                            <td>
                                <input type="text" class="form-control input-sm" name="driveshafts-link" value="{{  }}">
                            </td>
                            <td>
                                <input type="number" class="form-control input-sm" name="driveshafts-price" step="any" id="part-price" value="{{  }}">
                            </td>
                        </tr>
                        <!--Wishbones-->
                        <tr>
                            <th scope="row">
                                Wishbones
                            </th>
                            <th>
                                <input type="text" class="form-control input-sm" name="wishbones-product" value="{{  }}">
                            </th>
                            <td>
                                <input type="text" class="form-control input-sm" name="wishbones-link" value="{{  }}">
                            </td>
                            <td>
                                <input type="number" class="form-control input-sm" name="wishbones-price" step="any" id="part-price" value="{{  }}">
                            </td>
                        </tr>
                        <!--Bushes-->
                        <tr>
                            <th scope="row">
                                Bushes
                            </th>
                            <th>
                                <input type="text" class="form-control input-sm" name="bushes-product" value="{{  }}">
                            </th>
                            <td>
                                <input type="text" class="form-control input-sm" name="bushes-link" value="{{  }}">
                            </td>
                            <td>
                                <input type="number" class="form-control input-sm" name="bushes-price" step="any" id="part-price" value="{{  }}">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!--Interior-->
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h6 class="collapsed mb-0" data-toggle="collapse" data-target="#interior" aria-expanded="false"
                aria-controls="interior">
                Interior
            </h6>
        </div>
        <div id="interior" class="collapse" aria-labelledby="headingTwo" data-parent="#interior">
            <div class="card-body">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th scope="col">
                                Part
                            </th>
                            <th scope="col">
                                Product Name
                            </th>
                            <th scope="col">
                                Web Link
                            </th>
                            <th scope="col">
                                Price
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--Seats-->
                        <tr>
                            <th scope="row">
                                Seats
                            </th>
                            <th>
                                <input type="text" class="form-control input-sm" name="seats-product" value="{{  }}">
                            </th>
                            <td>
                                <input type="text" class="form-control input-sm" name="seats-link" value="{{  }}">
                            </td>
                            <td>
                                <input type="number" class="form-control input-sm" name="seats-price" step="any" id="part-price" value="{{  }}">
                            </td>
                        </tr>
                        <!--Harness-->
                        <tr>
                            <th scope="row">
                                Harness
                            </th>
                            <th>
                                <input type="text" class="form-control input-sm" name="harness-product" value="{{  }}">
                            </th>
                            <td>
                                <input type="text" class="form-control input-sm" name="harness-link" value="{{  }}">
                            </td>
                            <td>
                                <input type="number" class="form-control input-sm" name="harness-price" step="any" id="part-price" value="{{  }}">
                            </td>
                        </tr>
                        <!--Boost Gauge-->
                        <tr>
                            <th scope="row">
                                Boost Gauge
                            </th>
                            <th>
                                <input type="text" class="form-control input-sm" name="boost-gauge-product" value="{{  }}">
                            </th>
                            <td>
                                <input type="text" class="form-control input-sm" name="boost-gauge-link" value="{{  }}">
                            </td>
                            <td>
                                <input type="number" class="form-control input-sm" name="boost-gauge-price" step="any" id="part-price" value="{{  }}">
                            </td>
                        </tr>
                        <!--Boost Controller-->
                        <tr>
                            <th scope="row">
                                Boost Controller
                            </th>
                            <th>
                                <input type="text" class="form-control input-sm" name="boost-controller-product" value="{{  }}">
                            </th>
                            <td>
                                <input type="text" class="form-control input-sm" name="boost-controller-link" value="{{  }}">
                            </td>
                            <td>
                                <input type="number" class="form-control input-sm" name="boost-controller-price" step="any" id="part-price" value="{{  }}">
                            </td>
                        </tr>
                        <!--Gear Knob-->
                        <tr>
                            <th scope="row">
                                Gear Stick
                            </th>
                            <th>
                                <input type="text" class="form-control input-sm" name="gear-stick-product" value="{{  }}">
                            </th>
                            <td>
                                <input type="text" class="form-control input-sm" name="gear-stick-link" value="{{  }}">
                            </td>
                            <td>
                                <input type="number" class="form-control input-sm" name="gear-stick-price" step="any" id="part-price" value="{{  }}">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!--Build Total-->
    <div class="col-md-12">
        Total Price: <span id="build-total" value="{{  }}">0.00</span>
    </div>

    <!--Submit-->
    <div class="text-center">
        <button type="submit" class="btn btn-light btn-lg">Update</button>
        <a href="{{ url_for('delete_record', build_id=build._id) }}" class="btn btn-dark btn-lg">Back to Builds</a>
        <a href="{{ url_for('builds') }}" class="btn btn-dark btn-lg">Back to Builds</a>
    </div>

</form>

{% endblock content %}