{% extends 'base.html' %}

{% block title %}
Edit a build
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/edit.css' )}}">
{% endblock css %}

{% block content %}
<div class="text-center edit-header">
    <h1>Edit a new plan</h1>
    <p class="small">Remove, add and update parts.</p>
</div>


<form method="POST" action="{{ url_for('insert_record') }}">
    <!--Make/Model/Trim/Year-->
    <div class="card">
            <div class="card-header" id="headingTwo">
                <h6 class="collapsed mb-0" data-toggle="collapse" data-target="#vehicle" aria-expanded="false"
                    aria-controls="vehicle">
                    Car
                </h6>
            </div>
            <div id="vehicle" class="collapse" aria-labelledby="headingTwo" data-parent="#vehicle">
                <div class="card-body">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th scope="col">
                                    Make
                                </th>
                                <th scope="col">
                                    Model
                                </th>
                                <th scope="col">
                                    Trim
                                </th>
                                <th scope="col">
                                    Year
                                </th>
                                <th scope="col">
                                    Price
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--Car-->
                            <tr>
                                <th scope="row">
                                    <input type="text" class="form-control input-sm" name="make">
                                </th>
                                <td>
                                    <input type="text" class="form-control input-sm" name="model">
                                </td>
                                <td>
                                    <input type="text" class="form-control input-sm" name="trim">
                                </td>
                                <td>
                                    <input type="number" class="form-control input-sm" name="year">
                                </td>
                                <td>
                                    <input type="text" class="form-control input-sm" name="price" id="part-price">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    </div>

    <!--Bodykit-->
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h6 class="collapsed mb-0" data-toggle="collapse" data-target="#bodykit" aria-expanded="false"
                aria-controls="bodykit">
                Bodykit
            </h6>
        </div>
        <div id="bodykit" class="collapse" aria-labelledby="headingTwo" data-parent="#bodykit">
            <div class="card-body">
                <div class="add-category col-md-12">
                    <select class="form-control" id="bodykit-categories">
                        <option value="" disabled selected>Choose an option</option>
                        {% for item in bodykit %}
                        <option value="{{ item.name }}">{{ item.title }}</option>
                        {% endfor %}
                    </select>
                    <a id="add-bodykit" class="btn btn-light">Add</a>
                </div>
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th scope="col">
                                Part
                            </th>
                            <th scope="col">
                                Product Name
                            </th>
                            <th scope="col">
                                Web Link
                            </th>
                            <th scope="col">
                                Price
                            </th>
                            <th scope="col">

                            </th>
                        </tr>
                    </thead>
                    <tbody id="bodykit-table">

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!--Engine-->
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h6 class="collapsed mb-0" data-toggle="collapse" data-target="#engine" aria-expanded="false"
                aria-controls="engine">
                Engine
            </h6>
        </div>
        <div id="engine" class="collapse" aria-labelledby="headingTwo" data-parent="#engine">
            <div class="card-body">
                    <div class="add-category col-md-12">
                        <select class="form-control" id="engine-categories">
                            <option value="" disabled selected>Choose an option</option>
                            {% for item in engine %}
                            <option value="{{ item.name }}">{{ item.title }}</option>
                            {% endfor %}
                        </select>
                        <a id="add-engine" class="btn btn-light">Add</a>
                    </div>
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th scope="col">
                                Part
                            </th>
                            <th scope="col">
                                Product Name
                            </th>
                            <th scope="col">
                                Web Link
                            </th>
                            <th scope="col">
                                Price
                            </th>
                        </tr>
                    </thead>
                    <tbody id="engine-table">
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!--Running Gear-->
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h6 class="collapsed mb-0" data-toggle="collapse" data-target="#running-gear" aria-expanded="false"
                aria-controls="running-gear">
                Running Gear
            </h6>
        </div>
        <div id="running-gear" class="collapse" aria-labelledby="headingTwo" data-parent="#running-gear">
            <div class="card-body">
                    <div class="add-category col-md-12">
                        <select class="form-control" id="running-gear-categories">
                            <option value="" disabled selected>Choose an option</option>
                            {% for item in running %}
                            <option value="{{ item.name }}">{{ item.title }}</option>
                            {% endfor %}
                        </select>
                        <a id="add-running-gear" class="btn btn-light">Add</a>
                    </div>
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th scope="col">
                                Part
                            </th>
                            <th scope="col">
                                Product Name
                            </th>
                            <th scope="col">
                                Web Link
                            </th>
                            <th scope="col">
                                Price
                            </th>
                        </tr>
                    </thead>
                    <tbody id="running-gear-table">
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!--Interior-->
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h6 class="collapsed mb-0" data-toggle="collapse" data-target="#interior" aria-expanded="false"
                aria-controls="interior">
                Interior
            </h6>
        </div>
        <div id="interior" class="collapse" aria-labelledby="headingTwo" data-parent="#interior">
            <div class="card-body">
                <div class="add-category col-md-12">
                    <select class="form-control" id="interior-categories">
                        <option value="" disabled selected>Choose an option</option>
                        {% for item in interior %}
                        <option value="{{ item.name }}">{{ item.title }}</option>
                        {% endfor %}
                    </select>
                    <a id="add-interior" class="btn btn-light">Add</a>
                </div>
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th scope="col">
                                Part
                            </th>
                            <th scope="col">
                                Product Name
                            </th>
                            <th scope="col">
                                Web Link
                            </th>
                            <th scope="col">
                                Price
                            </th>
                        </tr>
                    </thead>
                    <tbody id="interior-table">
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!--Build Total-->
    <div class="col-md-12">
        Total Price: <strong><span id="build-total" name="total" >0.00</span></strong>
    </div>

    <!--Submit-->
    <div class="text-center">
        <a class="btn btn-outline-dark" href="{{ url_for('builds') }}">Back to Builds</a>
        <button type="submit" class="btn btn-outline-warning">Update</button>
    </div>

</form>

{% endblock content %}

{% block js %}
    <script src="{{ url_for('static', filename='js/create-edit.js' )}}"></script>
{% endblock js %}