{% extends 'base.html' %}

{% block title %}
Home
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css' )}}">
{% endblock css %}

{% block content %}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="homepage-banner">
            <div class="homepage-button">
                <a href="{{ url_for('login') }}" class="homepage-banner-button">
                    Plan your Builds.
                </a>
            </div>
        </div>
    </div>  
</div>
<hr>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 what-is-autolog text-center">
        <h3 class="text-center">What is AutoLog?</h3>
        <p>AutoLog exists to help you plan your current or builds you want to create. </p>

        <p>AutoLog aims to replace the odd pieces of paper with scribbles on and the 
        more modern option of notes on your mobile phone. With AutoLog we aim to 
        give you better experience in planning your builds, from automatically 
        updating the prices if you change the products to linking the products 
        straight to the site where the can buy them from.</p>

        <p>A super easy user interface will make sure you never lose the 10mm socket 
            with AutoLog. All builds are your own, unless you share the link. 
            But you can share the builds you create with your friends to let them 
            vote on them to see what they think!</p>
    </div>
</div>

{% endblock content %}